<div class="compositionshow_container">

  <div class="gmap">
    <%= gmaps4rails(@json) %>
  </div>

  <div class="static_profile">
    <h1><%= @composition.title %></h1>
    <img src="<%= @composition.image_url %>" class="compositionshow_image">
  </div>

  <% if @user == @composition.user %>
    <%= form_for [@user, @composition], method: 'delete' do |f| %>
      <%= f.submit "remove composition", id: "destroy" %>
    <% end %>
  <% end %>

  <div class="comments ">
    <p><u>comments:</u></p>
    <div class="composition-comments">
      <% @comments.each do |comment| %>
      <div class="comment_block">
        <p><%= comment.entry %></p>
        <p> * <%= comment.user.email %> * <%= time_ago_in_words(comment.updated_at) %> ago</p>
        <br>
      </div>
      <% end %>


      <% if current_user %>
        <%= form_for [@user, @composition, @comment] do |f| %>
          <%= f.text_area :entry, size: "40x10" %>
          <%= f.submit "comment" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


