<h1><%= @user.name %></h1>

<p><%= @user.email %></p>

<p><%= link_to "edit profile", edit_user_path(@user) %></p>
<p><%= link_to "compositions", user_compositions_path(@user) %></p>
<p><%= link_to "map", users_path %></p>
