<nav class="navigation">
  <ul>
  <% if signed_in? %>

    <%= form_for :session, url: signout_path, method: 'delete' do |f| %>
      <li>Signed in as <%= link_to current_user.name, current_user %>
    <%= f.submit "Sign out", id: 'signout' %></li>

    <% if current_user %>
      <div class="navigation">
        <ul>
          <li><%= link_to "edit profile", edit_user_path(current_user) %></li>
          <li><%= link_to "compositions", user_compositions_path(current_user) %></li>
          <li><%= link_to "map", map_path %></li>
          <li><%= link_to "upload piece", new_user_composition_path(current_user) %></li>
        </ul>
      </div>
    <% end %>

  <% end %>

  <% else %>

    <%= link_to "Sign up", signup_path %>

  <% end %>
</ul>
</nav>
