<!DOCTYPE html>
<html>
<head>
  <title>Paintmycity</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield(:css_includes) if content_for?(:css_includes) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag 'application' %>
  <div class="page">

<!--%= link_to "Home", root_path %-->
<%= render 'common/signout' %>
<%= yield %>
<%= yield :scripts %>

  </div>
</body>
</html>
